{% extends 'base.html.twig' %} {% block header %} {{ parent() }}
<div class="banner">
    <div class="container">
        <h3>Jeremie Chabert
            <br>
            <strong>nouveau roi de la glisse</strong>
        </h3>
    </div>
</div>
{% endblock header %} {% block content %}
<div class="home-articles">
    <div class="container">
        <div class="row section d-flex justify-content-center">

            {% for row in category %}
            <a href="{{path('categories',{'id':row.id})}}">
                {% if row.name is same as ("Hommes") %}

                <div class="men">

                    {% elseif row.name is same as ("Femmes") %}

                    <div class="women">

                        {% elseif row.name is same as ("Accessoires") %}
                        <div class="access">

                            {% elseif row.name is same as ("Skates") %}
                            <div class="skate">

                                {% endif %}

                                <h2>{{row.name}}</h2>
                            </div>
            </a>
            {% endfor %}

        </div>
        </a>
    </div>
    </a>
</div>
</a>
</div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="actu col-xl-12">
            <h3>Actu</h3>
            <ul>   
                <li>  
                    <a href="https://www.youtube.com/watch?v=M7J8Skqb53A">
                        <div class="actu-content">
                            <img class="img-actu img-responsive" src={{asset("img/box-01.png")}} alt="">
                            <p>Video 1</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=M7J8Skqb53A">
                        <div class="actu-content">
                            <img class="img-actu img-responsive" src={{asset("img/box-02.png")}} alt="">
                            <p>Video 2</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=M7J8Skqb53A">
                        <div class="actu-content">
                            <img class="img-actu img-responsive" src={{asset("img/box-03.png")}} alt="">
                            <p>Video 3</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=M7J8Skqb53A">
                        <div class="actu-content">
                            <img class="img-actu img-responsive" src={{asset("img/box-04.png")}} alt="">
                            <p>Video 4</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=M7J8Skqb53A">
                        <div class="actu-content">
                            <img class="img-actu img-responsive" src={{asset("img/box-05.png")}} alt="">
                            <p>Video 5</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=M7J8Skqb53A">
                        <div class="actu-content">
                            <img class="img-actu img-responsive" src={{asset("img/box-06.png")}} alt="">
                            <p>Video 6</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=M7J8Skqb53A">
                        <div class="actu-content">
                            <img class="img-actu img-responsive" src={{asset("img/box-07.png")}} alt="">
                            <p>Video 7</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=M7J8Skqb53A">
                        <div class="actu-content">
                            <img class="img-actu img-responsive" src={{asset("img/box-08.png")}} alt="">
                            <p>Video 8</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}