body {
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
  height: 60px;
  font-weight: 700;
  text-transform: uppercase;
  /* background-color: rgba(27, 27, 27, 0); */
  background-color: rgba(27, 27, 27);
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: .4s;
}

.navbar:hover {
  background-color: rgb(27, 27, 27);
  transition: .4s;
}

.navbar-brand {
  height: 60px;
  width: 60px;
  font-size: 30px;
  display: flex;

}

.nav-item {
  font-size: 13px;
  padding: 20px;
}

.nav-link {
  color: white !important;
  margin-top: 11px;
  border-bottom: solid 3px transparent;
  padding-bottom: 19px;

}

.nav-link:hover {
  content: '';
  border-bottom: solid 3px white;
  padding-bottom: 19px;
}

.login {
  display: flex;
  list-style: none;
  text-decoration: none;
  color: White;
  font-size: 13px;
  margin-bottom: 0;

}

.login li {
  padding: 10px;
}

.banner {
  padding: 0;
  margin: 0;
  background-image: url('https://www.simplonlyon.fr/promo6/bmunoz/ecommerce/img/tricks.jpg');
  height: 600px;
  background-size: cover;
}

.banner h3 {
  top: 50%;
  left: 10%;
  position: absolute;
  color: white;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 900;
}

.section {
  margin-top: 100px;
}

.men,
.women,
.skate,
.access {
  display: flex;
  flex-wrap: wrap;
  height: 450px;
  width: 320px;
  justify-content: center;
  background-color: black;
  margin: 10px;
  color: black;
}

.men {
  background-image: url('https://www.simplonlyon.fr/promo6/bmunoz/ecommerce/img/man_menu.jpeg');
  background-size: cover;
}

.women {
  background-image: url('https://www.simplonlyon.fr/promo6/bmunoz/ecommerce/img/woman_menu.jpeg');
  background-size: cover;
}

.skate {
  background-image: url('https://www.simplonlyon.fr/promo6/bmunoz/ecommerce/img/skate_menu.jpg');
  background-size: cover;
}

.access {
  background-image: url('https://www.simplonlyon.fr/promo6/bmunoz/ecommerce/img/access_menu.jpg');
  background-size: cover;
  background-position: top;
}

.left,
.right {
  height: 1000px;
  margin-top: 100px;
}

.left {
  background-image: url('https://www.simplonlyon.fr/promo6/bmunoz/ecommerce/img/men.jpg');
  background-size: cover;

}

.right {
  background-image: url('https://www.simplonlyon.fr/promo6/bmunoz/ecommerce/img/women.jpeg');
  background-size: cover;
}

h2 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 50px;
  text-shadow: 0 0 3px black;
  display: flex;
  align-items: center;

}

.active {
  background-color: rgb(27, 27, 27);
}

.actu {
  padding: 0;
  margin-top: 100px;
}

.actu h3 {
  text-align: center;
  padding-bottom: 50px;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: bold;
}

.actu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  max-width: 100%
}

.actu li {
  height: 285px;
  width: 285px;
  background-color: grey;
  padding: 0;
}

footer {
  height: 200px;
  background-color: black;
  margin-top: 100px;
}

.footer-social {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social li {
  padding: 40px;
  color: white;
  font-size: 30px;
}

.footer-social li:hover {
  color: red;
}

.card {
  border: none;
  border-radius: 0%;
  margin-top: 30px;
}

.grid {
  padding-left: 10%;
  padding-right: 10%;
}

.card-text {
  text-align: center;
  font-size: 13px;
  Line-Height: 5pt;
}

.card-text h4 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.card-text strong {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.card-img-top {
  border-radius: 0;
  max-height: 300px;
}

.card img:hover {
  background-color: black;
}

.overlay {
  position: absolute;
  display: block;
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card-img-top:hover {
  opacity: .5;
  transition: .4s;
}

.article-focus {
  height: 700px;
  background-image: url('https://www.simplonlyon.fr/promo6/bmunoz/ecommerce/img/men.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.account{
  font-size: 20px;
  color: red;
}

.sign-up{
  color: white;
}
.sign-up:hover{
  color: red;
  text-decoration: none;

}
.articles{
  padding-top: 75px;
}