{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block content %} 
<div class="container admin-category col-xl-5">
  <h2>Catégories</h2>

{{form_start(form)}}
{{form_widget(form)}}
<div class= "row">
<button class="btn btn-danger ml-auto mr-3">Ajouter</button></div>
{{form_end(form)}}
</div>
{% endblock content %}
