@import "./variables";
@import "./bootstrap";
@import "./navbar";
@import "./media";


// General

body,
html {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-decoration: none;
  outline:0;
  a {
    outline: 0;
    &:hover{
      text-decoration: none;
    }
  }

  li {
    list-style: none;
  }

  .btn {
    color: white;
  }
}

.login {
  display: flex;
  list-style: none;
  text-decoration: none;
  color: White;
  font-size: 13px;
  margin-bottom: 0;

  li {
    padding: 10px;
  }

  .btn {
    background-color: rgb(27, 27, 27);
    font: {
      size:13px;
      weight:bold;
    }
    text-transform: uppercase;
    color: white;
    height: 100%;
    outline: none;

    &:focus {
      outline: 0 !important;
      box-shadow: 0 0 0 0;
    }
  }

  .account {
    font-size: 20px;
    color: red;
  }
}


// Banner

.banner {
  padding-top: 300px;
  padding-bottom: 175px;
  background: {
    image: url('/img/banner.gif');
    size: cover;
    position: center;
  }
  h3 {
    display: inline-block;
    color: white;
    font: {
      size: 60px;
      weight: 900;
    }
    text-transform: uppercase;
    background-color: #1b1b1b;
    line-height: 50px;
    padding: 10px;
    margin: 0;
  }
  strong {
    color: #ff0000;
    font: {
      size: 50px;
      style: italic;
    }
    text-transform: lowercase;
    padding-left: 30px;
  }
}

// Home articles

.home-articles {
  margin-top: 50px;

  h2 {
    color: white;
    font: {
      weight: bold;
      size: 50px;
      }
    text : {
      transform: uppercase;
      shadow: 0 0 3px black;
    }
    display: flex;
    align-items: center;
  }

  .men,
  .women,
  .skate,
  .access {
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    width: 340px;
    justify-content: center;
    background-color: black;
    margin: 10px;
    color: black;
    a{
      color:white;
      text-decoration: none;
    }
  }
  .men {
    background-image: url('https://www.simplonlyon.fr/promo6/bmunoz/ecommerce/img/man_menu.jpeg');
    background-size: cover;
  }
  .women {
    background-image: url('/img/woman_menu.jpeg');
    background-size: cover;
  }
  .skate {
    background-image: url('/img/skate_menu.jpg');
    background-size: cover;
  }
  .access {
    background-image: url('/img/access_menu.jpg');
    background-size: cover;
    background-position: top;
  }
}


// Actu

.actu {
  padding: 0;
  margin-top: 100px;
  object-fit: cover;
  a {
    text-decoration: none;
  }
  h3 {
    text : {
      align: center;
      transform: uppercase;
    }
    font : {
      size: 45px;
      weight: bold;
    }
    padding-bottom: 100px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    max-width: 100%
  }
  li {
    height: 360px;
    width: 360px;
    padding: 0;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .actu-content {
    width: 100%;
    height: 100%;
    &:hover {
      background: black;
    }
    &:hover img {
      display: none;
    }
    &:hover p {
      display: block;
    }
    p {
      display: none;
      color: white;
      font: {
        weight: bold;
        size: 30px;
      }
      text-align: center;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}


.title-article-page {
  margin-top: 55px;
  padding-left: 10%;
  font-size: 12px;
  letter-spacing: 1px;

  a {
    color: rgb(105, 105, 105);

    &:hover {
      color: rgb(145, 145, 145);
      text-decoration: none;
    }
  }
}

.article-grid {
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 60px;
  .edit-btn{
    display: flex;
    justify-content: center;
    text-align: center;
    .btn{
      background-color: #1b1b1b;
      margin: 5px;
    }
  }

  .card {
    border: none;
    border-radius: 0%;
    margin-top: 30px;
  }

  .card-img-top {
    border-radius: 0;

    &:hover {
      background-color: black;
    }
  }

  .card-text {
    text-align: center;
    font-size: 13px;
    line-Height: 5pt;

    h4 {
      font: {
        size : 14px;
        weight: 700;
      }
      text-transform: uppercase;
    }

    strong {
      font: {
        size : 17px;
        weight: 700;
      }
      text-transform: uppercase;
    }
  }
}

.article-panel {
  margin-top: 150px;
  margin-bottom: 300px;
  padding-left: 10%;
  padding-right: 10%;

  .article-img {
    display: flex;
    justify-content: center;
    height:50%;
    width:50%;
  }

  .article-description {
    margin-top: 40px;
  }

  .article-title {
    font: {
      size : 27px;
      weight: 600;
    }
    letter-spacing: 1px;
  }

  .article-price {
    color: red;
    font-size: 26px;
    font-weight: 600;
    margin-top: 30px;
  }

  .add-shoppingcart {
    width: 100%;
    font-weight: 600;

    &:hover {
      width: 100%;
      background-color: red;
      color: white;
    }
  }
  .article-qty{
    width:80px;
  }
  p{
    margin-top: 30px;
  }
  form{
    margin-top: 50px;
  }
}

.create-account {
  background-color: rgb(231, 231, 231);
  font: {
    size: 16px;
    weight: 600;
  }
  text-transform: uppercase;
  margin-top: 50px;
  border-radius: 5px;
  padding-bottom: 30px;

  h2 {
    font : {
      size: 45px;
      weight: 900;
    }
    text : {
      align: center;
      transform: none;
  
    }
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: rgb(27, 27, 27);
  }

  .btn {
    background-color: red;
    color: white;
    font-weight: 600;

    &:hover {
      background-color: rgb(160, 1, 1);
    }
  }
}

.credits {
  margin-top: 30px;
  font-size: 13px;
  padding: 0;
  display: flex;
  a{
    color:red;
    text-decoration: none;
  }
}

.man-footer {
  padding: 0;
}

.categories {
  padding: 0;

  h6 {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  a {
    color: white;

    &:hover {
      text-decoration: none;
    }
  }
}

.terms {
  h2 {
    font : {
      weight: bold;
      size: 45px;
    }
    text: {
      align: center;
      
    }
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.terms p {
  text-align: justify;
}

.shopping-cart-grid {
  text-align: center;
  padding: 0;

  h4 {
    font : {
      size: 40px;
      weight: bold;
    }
    margin-bottom: 100px;
    margin-top: 100px;
  }

  p {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .btn {
    margin-top: 10px;
    background-color: red;
    font-weight: bold;
    margin-bottom: 30px;

    &:hover {
      background-color: rgb(160, 1, 1);
      color: white;
    }
  }

  .shopping-line {
    padding: 20px;
    background-color: rgb(231, 231, 231);
    align-items: center;
  }
}

.command-resume {
  h3 {
    font-weight: bold;
    background-color: rgb(27, 27, 27);
    color: white;
    padding: 15px;
    border-radius: 5px;
  }
}

.credits {
  ul {
    padding-left: 0;
  }

  li {
    display: inline-flex;
  }
}

.account {
  font-size: 18px;

  li {
    text-align: center;
    color: black;
  }

  .edit-account {
    background-color: rgb(59, 59, 59);
  }
}

.add-cart {
  background-color: red;
  font-weight: bold;
}

footer {
  background-color: rgb(27, 27, 27);
  margin-top: 100px;
  padding-top: 60px;
  border-top: solid red 10px;
  color: white;

  .fas {
    padding-right: 20px;
  }

  h5 {
    font: {
      weight: bold;
      size: 22px;
    }
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  .footer-social {
    padding-left: 90px;
    margin-left: 15px;
    a{
      color:white;
      text-decoration: none;
    }
    h5 {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
    }

    li {
      padding-right: 30px;
      color: white;
      font-size: 30px;

      &:hover {
        color: red;
      }
    }
  }
}

.grid{
  h2{
    margin-top: 100px;
    text: {
      align: center;
     
    }
    font: {
      size: 45px;
      weight: bold;
    }
  }
  .admin-btn{
    background-color: #1b1b1b;
    padding:20px;
    font: {
      size: 20px;
      weight: bold;
    }
    &:hover{
      background-color: red;
      transition:.3s;

    }
  }
}
.admin-category{
  h2{
    margin-bottom: 100px;
    margin-top: 100px;
    text: {
      align: center;
     
    }
    font: {
      size: 45px;
      weight: bold;
    }
  }
}
