// MediaQueries

@media screen and (max-width: 1500px) {
  .actu li {
    height: 285px !important;
    width: 285px !important;
  }

  .home-articles {

    .men,
    .women,
    .skate,
    .access {
      display: flex;
      flex-wrap: wrap;
      height: 380px;
      width: 265px;
      justify-content: center;
      background-color: black;
      margin: 10px;
      color: black;
    }
  }
}

@media screen and (max-width: 1200px) {
  .actu li {
    height: 240px !important;
    width: 240px !important;
    background-color: red;
  }

  .map {
    display: none;
  }

  .home-articles {

    .men,
    .women,
    .skate,
    .access {
      display: flex;
      flex-wrap: wrap;
      height: 340px;
      width: 220px;
      justify-content: center;
      background-color: black;
      margin: 10px;
      color: black;
    }
  }
}

@media screen and (max-width: 768px) {
  .actu li {
    height: 270px !important;
    width: 270px !important;
    background-color: red;
  }

  .home-articles {

    .men,
    .women,
    .skate,
    .access {
      display: flex;
      flex-wrap: wrap;
      height: 450px;
      width: 340px;
      justify-content: center;
      background-color: black;
      margin: 10px;
      color: black;
    }
  }
}

// footer {
//   background-color: rgb(27, 27, 27);
//   margin-top: 100px;
//   padding-top: 60px;
//   color: white;
//   border-top: solid red 10px;

//   .fas {
//     padding-right: 20px;
//   }

//   h5 {
//     font-weight: bold;
//     font-size: 22px;
//     text-transform: uppercase;
//     margin-bottom: 40px;
//   }

//   .footer-social {
//     padding-left: 90px;
//     margin-left: 15px;

//     h5 {
//       margin-top: 40px;
//       margin-bottom: 40px;
//     }

//     ul {
//       padding: 0;
//       margin: 0;
//       display: flex;
//       flex-wrap: wrap;
//       list-style: none;
//     }

//     li {
//       padding-right: 30px;
//       color: white;
//       font-size: 30px;

//       &:hover {
//         color: red;
//       }
//     }
//   }
// }

@media screen and (max-width: 768px) {
  footer {
    .footer-social {
      li {
        font-size: 25px;
        padding: 20px;
      }

      &:hover {
        color: red;
      }
    }
  }

  .actu {
    display: none;
  }

  .shopping-line img {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 992px) {

  .navbar-collapse .nav-item {

    margin: 0 auto;
    width: 100%;
}
  .dropdown-menu{
    padding:0;
  }
  
}