$navbar-background: #1b1b1b;
$navbar-color: white;
$navbar-dark-toggler-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23");
$navbar-collapse-order: 10;
$navbar-toggler-order: $navbar-collapse-order - 1;

.navbar {
  background-color: $navbar-background;
  color: $navbar-color;
  padding-top: 0;
  padding-bottom: 0;
  font-weight:bold;
  font-size: 13px;
  text-transform:uppercase;

  .navbar-brand {
    padding:0;
  }

  .navbar-toggler {
    color: $navbar-color;
    border:none;
    order: $navbar-toggler-order;
  }

  .navbar-toggler-icon {
    background-image: $navbar-dark-toggler-icon-bg;
    border:none;
  }

  .nav-item{
    padding: 0 15px;
    .account{
      color: red;
    }
    .admin{
      font-size: 20px;
      color: red;
    }
  }
  .nav-link {
    color: $navbar-color;
    &:focus{
      color:red;
    }
  }

  .navbar-collapse {
    order: $navbar-collapse-order;

    @include media-breakpoint-up('lg') {
      order: 0;
    }
  }

  .login-dropdown {
     background-color: rgb(27, 27, 27);
     margin-top:5px;
     border-radius:0;
     width: 190px;
     padding: 10px;
    input {
      height:30px;
      border-radius:0;
    }
    .btn{
      background-color:red;
      border:none;
      border-radius:0;
    }
    a{
      width:100%;
      text-align:center;
    }
  }

  .navbar-nav-right {
    flex-direction: row;

    .dropdown-menu {
      position: absolute;
    }

    .nav-link {
      padding-right: $navbar-nav-link-padding-x;
      padding-left: $navbar-nav-link-padding-x;
    }
  }

  .dropdown-toggle::after {
    display: none;
  }
}

.dropdown-menu{
  background-color: black;
  margin-top:6px;
  border-radius:0;
  .dropdown-item{
    display:table-cell;
    background-color:transparent;
  }
  a{
    color:white;
    font : {
      weight: bold;
      size: 13px;
    }
    &:hover{
      color:red;
    }
  }
}


@media screen and (max-width: 992px) {
 .navbar .container{
   background-color: rgb(27, 27, 27);
   max-width:100%;
   text-align: center;
 }
 
 .dropdown-menu.show{
   display: block;
   text-align: center;
 }
 .category .btn{
   margin:10px;
 }
 .navbar-collapse{
   background-color: #1b1b1b;
 }
 .dropdown-menu .dropdown-item{
   width: 100%;
   display:block;
 }
}


//.navbar {
//  background-color: rgb(27, 27, 27);
//  color: white;
//  height: 50px;
//  padding:0;
//  .navbar-toggler {
//    color: white;
//    order: 2;
//  }
//  .navbar-brand {
//    padding:0;
//  }
//  .navbar-toggler-icon {
//    background-image: $navbar-dark-toggler-icon-bg;
//    outline: none;
//  }
// .nav-link {
//    color: white;
//    font-size: 13px;
//    font-weight: 600;
//    text-transform:uppercase;
//    margin-right: 20px!important;
//    margin-left: 20px!important;
//  }
//  .navbar-collapse {
//    order: 10;
//    background-color: #1b1b1b;
//    z-index:1000;
//    .nav-link{
//      margin-top: 9px;
//      padding-bottom: 10px;
//      &:hover{
//      padding-bottom: 10px;
//      border-radius: 3px;
//      }
//    }
//    @include media-breakpoint-up('lg') {
//      order: 0;
//    }
//  }
//  .login-dropdown {
//    width: 250px;
//    padding: 10px;
//  }
//  .navbar-nav-right {
//    flex-direction: row;
//    .dropdown-menu {
//      position: absolute;
//    }
//  }
//  .navbar-nav {
//    .dropdown{
//      input{
//      height: 30px;
//      border-radius:0;
//      }
//      a{
//        color:white;
//        font-size:14px;
//        font-weight: 600;
//        &:hover{
//          color:rgb(255, 0, 0);
//          font-size:14px;
//          font-weight: 600;
//          text-decoration: none;
//        }
//      }
//    }
//    .connection .dropdown-menu{
//      background-color: rgb(27, 27, 27);
//      margin-top:5px;
//      border-radius:0;
//      width: 190px;
//    }
//    .connection-btn{
//      background-color: red;
//      border:none;
//      font-size:13px;
//      text-transform:uppercase;
//      font-weight: 600;
//      border-radius: 0;
//      &:hover{
//        background-color: rgb(145, 0, 0);
//      }
//    }
//  }
//}
//.account{
//  color:red;
//  font-size:20px;
//}
//.category {
//  .btn{
//  background-color: rgb(27, 27, 27);
//  border:none;
//  font-size:13px;
//  text-transform:uppercase;
//  font-weight: 600;
//  border-radius: 0;
//  content:none;
//  padding-left: 20px;
//  padding-right:20px;
//  margin-top:10px;
//  &:focus{
//    box-shadow: none;
//  }
//  &:hover{
//    background-clip: none;
//  }
//}
//
//i .nav-item{
//  display:flex;
//  vertical-align: middle;
//}
//}
//
//.dropdown-toggle::after {
//  display: inline-block;
//  width: 0;
//  height: 0;
//  margin-left: 0.255em;
//  vertical-align: 0.255em;
//  content: none;
//}
//
//.dropdown-menu.show{
//  display:inline-flex;
//  min-width: 100%;
//  background-color: rgb(8, 8, 8);
//  margin-top:6px;
//  border-radius:0;
//  overflow: hidden;
//}
//.dropdown-item{
//  &:hover{
//    background-color: transparent;
//  }
//}
//.dropdown:hover{
//  background-color: transparent;
//}
//
//.show > .btn-secondary.dropdown-toggle {
//  color: #fff;
//  background-color: transparent;
//  border-color: transparent;
//}
//.show > .btn-secondary.dropdown-toggle:focus {
//  box-shadow: none;
//}
//.show > .btn-secondary.dropdown-toggle:active {
//  background-color: none;
//}
//button{
//  box-shadow:none!important;
//}
//
//// .dropdown .dropdown-menu {
////   height: 0;
////   display: inline-block;
////   opacity:0;
//// -webkit-transition: height .6s ease;
//// -moz-transition: height .6s ease;
//// -ms-transition: height .6s ease;
//// -o-transition: height .6s ease;
//// transition: height .6s ease;
//
//// }
//
//// .dropdown-item{
////   height: 0;
////   overflow:hidden;
////   display: table-cell;
////   &:hover{
////     color:red;
////   }
//// }
//// .dropdown.show .dropdown-menu {
////   height:50px;
////   opacity: 1;
//
//// }
//
//.navbar-expand {
//  background-color:black;
//}
//
//@media screen and (max-width: 992px) {
//  .navbar .container{
//    background-color: rgb(27, 27, 27);
//    max-width:100%;
//    text-align: center;
//  }
//  .navbar-brand{
//    margin-left: 20px;
//  }
//  .dropdown-menu.show{
//    display: block;
//    text-align: center;
//  }
//  .category .btn{
//    margin:10px;
//  }
//  .navbar-collapse{
//    background-color: #1b1b1b;
//  }
//  .dropdown-item{
//    width: 100%;
//  }
//}
//
//
//.category .btn{
//  &:focus{
//  color:red;
//  }
//}
//
//// .dropdown:hover>.dropdown-menu {
////   display: flex;
////   background-color:black;
////   border-radius:0;
////   margin-top:5px;
//// }
//
//
//// @media screen and (max-width: 768px) {
////   .dropdown:hover>.dropdown-menu {
////     display: flex;
////     background-color:black;
////     border-radius:0;
////     margin-top:5px;
////   }
//
//.nav-item {
//margin: 0 auto;
//}
