{% extends 'base.html.twig' %} {% block content %}
<div class="container-fluid grid">
  <h2>Gestion des produits</h2>
  <div class="row d-flex justify-content-center pb-0" style="padding: 75px;">
    <span style="padding-right: 75px;">
    <a class="admin-btn btn" href="{{path('AddProduct')}}">Ajouter des Produits</a></span>
    <span>
    <a class="admin-btn btn" href="{{path('category')}}">Ajouter des Catégories</a></span>
  </div>
  
  <div class="article-grid ">
  
      <div class="row">
        {% for row in product %}
        <div class="card col-xl-3 col-md-6">
          <a href="{{path('single', {'id':row.id})}}">
            <img class="card-img-top" src="{{asset(row.image)}}" alt="Card image cap">
          </a>
          <div class="card-body">
            <div class="card-text">
              <h4>{{row.name}}</h4>
              <p>{{row.description[:20]}}...</p>
              <strong>{{row.price}}€</strong>
            </div>
          </div>
          <div class="edit-btn">
              <a class="btn" href="{{path('updProd', {'id':row.id})}}">Modifier</a>

              <a class="btn" href="{{path('removeProduct', {'id':row.id})}}" onclick="return confirm('sûr? sans regret?')">Supprimer</a>
    
          </div>
             
          
        </div>
        {% endfor %}
      </div>
    
    </div>
  {% endblock content %}








   
 