{% extends 'base.html.twig' %} {% block title %}Hello{% endblock %} {% block content %}
<div class="container create-account col-xl-5">

  <div class="account">
    <ul>
      <li>{{app.user.name}} &nbsp; {{app.user.surname}}
      </li>
      <li>
        <h3>Votre historique d'achat</h3>
      </li>
    </ul>
    <div>

      {% for row in app.user.shoppingCart %}
      <div class="row">

        <div class="offset-md-1 col-md-4">Commande n°: {{row.id}} </div>
        <div class="col-md-4">Total: {{row.total}}€ </div>
        <div class="col-md-2"><a href="{{path('showOrder', {'id':row.id})}}"><i class="far fa-eye"></i>

        </a></div>
      </div>

      {% endfor %}

    </div>
  </div>
</div>

{% endblock %}