
{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block content %}
<div class="container shopping-cart-grid">

  <h4>Récapitulatif de la commande n°{{cart.id}}</h4>
  
  {% for row in cart.productLine %}
  <div class="col-12 mb-5">
    <div class="row shopping-line">
      <div class="offset-1 col-xl-2">
          <img class="img-responsive w-100 h-100" src="{{asset(row.product.image)}}" alt="">
      </div>
      <div class="col-xl-2">
        <p>produit</p>
        {{row.product.name}}
      </div>
      <div class="col-xl-2">
        <p>Quantité</p>
        {{row.quantity}}
      </div>
      <div class="col-xl-2">
        <p>Prix</p>
        {{row.product.price}}€
      </div>
      <div class="col-xl-2">
        <p>Prix Total</p>
        {{row.price}}€
      </div>
    </div>
  </div>
  <div>
  </div>

  {% endfor %}
  <div class="row m-0">
    <div class="mt-5 ml-auto text-right command-resume">
      <p>Frais de port: 7 €</p>
      <p>Total: {{cart.total}}€</p>
    </div>
  </div>
  <div class="row">
    <div class="ml-auto mr-3">
    </div>
  </div>
</div>
{% endblock content %}