{% extends 'base.html.twig' %}


{% block title %}AddProduct{% endblock %}

{% block content %} 
<div class="container admin-category col-xl-5">
    <h2>Produits</h2>
<div class="articles">
{{form_start(form)}}
{{form_widget(form)}}

{% if editMode %}
<button class="btn btn-danger">Enregistrer les modifications</button>

{% else %}
<div class= "row">
    <button class="btn btn-danger ml-auto mr-3">Ajouter</button></div>
{% endif %}

{{form_end(form)}}
</div>
</div>
{% endblock content %}
