{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block content %}
<div class="container shopping-cart-grid">
{% if total>8 %}
  <h4>Votre panier</h4>
  {% else %}
  <h4>Votre panier est vide</h4>
  {% endif %}

  {% for row in cart.productLine %}
  <div class="col-12 mb-5">
    <div class="row shopping-line">
      <div class="col-xl-2">
          <img class="img-responsive w-100 h-100" src="{{asset(row.product.image)}}" alt="">
      </div>
      <div class="col-xl-2">
        <p>produit</p>
        {{row.product.name}}
      </div>
      <div class="col-xl-2">
        <p>Quantité</p>
        {{row.quantity}}
      </div>
      <div class="col-xl-2">
        <p>Prix</p>
        {{row.product.price}}€
      </div>
      <div class="col-xl-2">
        <p>Prix Total</p>
        {{row.price}}€
      </div>
      <div class="col-xl-2">
        <a href="{{path('removeProduct-line', {'id':row.id})}}">
          <div class="btn">
            <i class="fas fa-trash-alt"></i>
          </div>
        </a>
      </div>

    </div>
  </div>
  <div>
  </div>

  {% endfor %}
  <div class="row m-0">
    <div class="mt-5 ml-auto text-right command-resume">
      <p>Sous-total: {{sousTotalPrice}}€</p>
      <p>Frais de port: 7 €</p>
      <p>Total: {{total}}€</p>
    </div>
  </div>
  <div class="row">
    <div class="ml-auto mr-3">
      <a href="{{path('confirm')}}" class="btn">
        <button class="btn m-0 p-0">Valider mon panier</button>
      </a>
    </div>
  </div>
</div>
{% endblock content %}