{% extends 'base.html.twig' %} 

{% block content %}

<div class="container shopping-cart-grid">
  <h4>Recapitulatif de votre commande</h4>
  {% for row in cart.productLine %}
  <div class="col-12 mb-5">
    <div class="row shopping-line align-items-center">
      <div class="col-4">
        <img style="width:300px;height:300px" src="{{asset(row.product.image)}}" alt="">
      </div>
      <div class="col-2">
        <p>produit</p>
        {{row.product.name}}
      </div>
      <div class="col-2">
        <p>Quantité</p>
        {{row.quantity}}
      </div>
      <div class="col-2">
        <p>Prix</p>
        {{row.product.price}}€
      </div>
      <div class="col-2">
        <p>Prix Total</p>
        {{row.price}}€
      </div>
    </div>
  </div>
  
  {% endfor %}
  <div class="row m-0">
      <div class="mt-5 ml-auto text-right command-resume">
        <p>Sous-total: {{sousTotalPrice}}€</p>
        <p>Frais de port: 7 €</p>
        <h3>Total: {{total}}€</h3>
      </div>
    </div>
  <h4>Adresse de livraison</h4>
  <div class="articles container-fluid grid">
    <div class="row">
      <div class="card col-xl-4 col-md-6 p-0 mx-auto">
        <div class="card-body text-light" style="background-color:#1b1b1b;">
          <div class="card-text">
            <h4>{{app.user.name}}&nbsp;{{app.user.surname}}</h4>
            <p>{{app.user.email}}</p>
            <p>{{app.user.phonenumber}}</p>
            <br> {% for address in app.user.address %}
            <p>{{address.number}}&nbsp;rue {{address.street}}</p>
            <p>{{address.postcode}}&nbsp;{{address.city}}</p>
            <br> {% endfor %}
            <a class="btn btn-secondery" href="{{path('cartValidation')}}" onclick="return confirm('accepter les conditions générales de vente')">Passer
              la commande</a>
          </div>
        </div>
      </div>
    </div>
  </div>      
</div>

{% endblock content %}