<footer>
  <div class="container">
    <div class="row">
      <div class="col-xl-6 p-0">
        <div class="map" style='overflow:hidden;height:360px;margin-bottom:20px;color:black;'>
          <div id='gmap_canvas' style='height:360px;margin-bottom:20px;'></div>
          <div>
            <small>
              <a href="https://embedgooglemaps.com/fr/">https://embedgooglemaps.com/fr/</a>
            </small>
          </div>
          <div>
            <small>
              <a href="https://webtrafficgeeks.org/">buy adsense safe traffic for genuine satisfied customers real visitors</a>
            </small>
          </div>
          <style>
            #gmap_canvas img {
              max-width: none !important;
              background: none !important
            }
          </style>
        </div>
      </div>
      <div class="col-xl-6 col-12">
        <div class="row">
      <div class="col-6" style="padding-left:90px;padding-right:0;">
        <h5>Nous contacter</h5>
        
        <ul class="p-0">
          <li class="footer-adress">
            <p>
              <i class="fas fa-map-marker-alt"></i>352, cours Emile Zola
              <br>
              <strong>Villeurbanne, France</strong>
            </p>
          </li>
          <li class="footer-phone">
            <p>
              <i class="fas fa-phone"></i>
              <strong>+33 612345678</strong>
            </p>
          </li>
          <li class="footer-mail">
            <p>
              <i class="fas fa-at"></i>
              <strong>jab@jab.com</strong>
            </p>
          </li>
        </ul>

      </div>
      <div class="col-6" style="padding-left:90px;padding-right:0;">
        <h5>Categories</h5>
        
        <ul class="categories">

     {% for row in category %}
       
       
          <li>
            <h6><a href="{{path('categories',{'id':row.id})}}">{{row.name}}</a></h6>
          </li>

     {% endfor %}

        </ul>
      </div>
      <div class="row">
          <div class="col-12 footer-social">
              <h5>Suivez Nous</h5>
              <ul class="p-0">
                <a href="">
                  <li>
                    <i class="fab fa-facebook-f"></i>
                  </li>
                </a>
                <a href="">
                  <li>
                    <i class="fab fa-instagram"></i>
                  </li>
                </a>
                <a href="">
                  <li>
                    <i class="fab fa-twitter"></i>
                  </li>
                </a>
                <a href="">
                  <li>
                    <i class="fab fa-youtube"></i>
                  </li>
                </a>
                <a href="">
                  <li>
                    <i class="fab fa-snapchat-ghost"></i>
                  </li>
                </a>
              </ul>
            </div>
      </div>
      </div>
    </div>
      
      <div class="credits col-12">
        <ul>
          <li><p>2018.Developpé par Berta Munoz ♥, Jeremy Bazan et Alexandre Moreira.</p></li>
         
          <li><a href="{{path('terms')}}"class="d-flex justify-content-end"><strong>Conditions générales d'utilisation</strong></a></li> 
        </ul>
      </div>
    </div>

  </div>
</footer>