<nav class="navbar navbar-expand-lg">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

        <a class="navbar-brand" href="{{path('home')}}">
      <img src={{asset('/img/jab.svg')}} width="50" height="50" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for row in category %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-{{ loop.index }}" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">{{ row.name }}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown-{{ loop.index }}">
                        {% for sub in row.subCategories %}
                            <a class="dropdown-item" href="{{ path('categories',{'id':sub.id}) }}">{{ sub.name }}</a>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
           
        </ul>
    </div>

    <ul class="navbar-nav navbar-nav-right ml-auto mr-3">

            {% if is_granted('ROLE_ADMIN') %}  
            <li class="nav-item">
                <a href="{{ path('admin') }}" class="nav-link">
                        <i class="admin fas fa-edit"></i></a>
              </li>
             {% endif %}
           
        {% if app.user %}
            <li class="nav-item">
                <a href="{{ path('user') }}" class="nav-link"><i class="account fas fa-user-circle"></i></a>
            </li>
        {% endif %}
         {% if not app.user %}
        <li class="nav-item dropdown connection">
            <a class="nav-link dropdown-toggle" href="{{ path('login') }}" id="navbarDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
                Se connecter
            </a>
            {% else %}
                <a class="nav-link dropdown-toggle" href="{{ path('logout') }}" id="navbarDropdown" role="button">
                    Se déconnecter
                </a>
            {% endif %}
            <div class="dropdown-menu dropdown-menu-right login-dropdown" aria-labelledby="navbarDropdown">

                {% if error is defined %}
                    <p>{{ error.message }}</p>
                {% endif %}

                <form action="{{ path('login') }}" method="post">
                    <div class="form-group">
                        <input type="email" name="_username" class="form-control" placeholder="email">
                    </div>
                    <div class="form-group">
                        <input type="password" name="_password" class="form-control" placeholder="Mot de passe">
                    </div>
                    <div class="form-group">

                        <button class="btn btn-primary btn-block connection-btn">Connexion</button>
                    </div>
                    <input type="hidden" name="_target_path" value="{{ path('home') }}">

                    <a href="{{ path('sign_up') }}">Créer un compte</a>
                </form>
            </div>
        </li>
        {% if app.user %}

        <li class="nav-item">
          <a href="{{ path('shopping_cart') }}" class="nav-link">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </li>

        {% endif %}
    </ul>
  </div>
</nav>
