{% extends 'base.html.twig' %}

{% block content %}
<div class="container terms col-xl-8">
<h2>Conditions générales d'utilisation</h2>
<p>Bacon ipsum dolor amet shoulder pastrami drumstick short ribs, hamburger flank tenderloin t-bone salami pork shank shankle spare ribs pork loin turkey. Short ribs pastrami capicola short loin andouille ground round landjaeger bacon doner. Tri-tip beef brisket meatball ball tip. Flank pork loin ground round jowl, spare ribs short ribs cow tongue buffalo shoulder short loin kevin tenderloin chuck bacon. Beef ribs fatback boudin, picanha t-bone meatball alcatra flank ball tip frankfurter. Leberkas ribeye meatloaf jowl pancetta ham. Short loin flank capicola, bresaola pork belly turducken cow kevin pancetta.

    Chuck rump boudin, alcatra meatball turducken doner. Swine jowl hamburger flank turkey alcatra tongue venison short ribs corned beef. Turducken brisket ribeye meatball tongue. Shankle biltong turkey meatloaf pork chop, tail sirloin pancetta spare ribs leberkas salami porchetta. Pancetta hamburger tri-tip, tenderloin pork belly doner flank pig andouille buffalo pork chop chicken boudin. Ground round porchetta brisket, flank tongue fatback doner sirloin burgdoggen. Ribeye kevin cow, ham pork belly porchetta swine buffalo chicken tail doner picanha.
    
    Spare ribs pork loin burgdoggen swine. Turkey strip steak picanha chicken doner. Hamburger leberkas shoulder, kielbasa prosciutto frankfurter pig ground round jerky tongue short ribs drumstick biltong sausage. Ball tip burgdoggen jerky, salami beef venison cow corned beef alcatra kevin prosciutto shank t-bone ribeye boudin. Corned beef short loin bacon, doner venison shoulder short ribs turducken alcatra drumstick chuck tenderloin pastrami andouille strip steak. Tongue rump tail ribeye corned beef ground round, ham hock filet mignon alcatra.
    
    Andouille spare ribs pancetta kielbasa bacon sausage turkey. Prosciutto picanha sausage jerky, pork loin pig hamburger short loin cow strip steak pork chop venison biltong meatloaf. Hamburger rump cow, pork chop t-bone tongue frankfurter pork loin pork belly corned beef beef ribs. Picanha pork chop cupim chuck, pig jerky capicola boudin. Cow doner shankle kevin short ribs. Fatback kevin strip steak chuck burgdoggen shank meatloaf.
    
    Spare ribs flank brisket, hamburger prosciutto sirloin pork belly. Pancetta brisket tail, rump ground round flank buffalo chicken kevin pig filet mignon beef drumstick hamburger. Picanha corned beef rump strip steak, spare ribs chicken kevin pig andouille landjaeger hamburger shankle. Rump ball tip ham andouille. Pork chop tongue cow leberkas, swine beef pork loin ball tip fatback capicola chicken.
    
    Tri-tip shank short loin, salami burgdoggen ball tip chuck filet mignon ribeye pastrami swine jerky cupim ham. Doner ham ball tip beef, tenderloin shank frankfurter swine tongue salami tri-tip fatback. Landjaeger shank picanha, frankfurter spare ribs jowl boudin tri-tip. Pastrami sirloin ribeye cow pork loin drumstick ground round bresaola chuck venison brisket landjaeger pork belly frankfurter. Tenderloin short ribs rump jerky pork chop cow. Sausage ground round ribeye, capicola beef ribs swine shoulder buffalo.
    
    Short ribs ground round spare ribs shankle short loin landjaeger tenderloin brisket doner cupim frankfurter chuck t-bone tail. Spare ribs shank porchetta landjaeger, picanha shoulder pig filet mignon short ribs tongue tenderloin tri-tip kielbasa t-bone. Kevin tail picanha t-bone shank tongue brisket spare ribs venison ribeye turkey flank bacon. Ground round alcatra corned beef leberkas jerky picanha pancetta. Capicola tri-tip shankle, turducken tongue short loin rump sirloin andouille boudin meatloaf leberkas beef sausage jerky. Tri-tip venison swine corned beef. Hamburger tri-tip swine spare ribs venison fatback.
    
    Cupim andouille t-bone bresaola short loin alcatra pig porchetta shankle. Cow swine venison corned beef boudin rump, spare ribs hamburger pork chop beef chuck frankfurter drumstick t-bone. Ribeye filet mignon picanha rump bacon pork belly. Filet mignon burgdoggen frankfurter shankle porchetta prosciutto tail pancetta turducken corned beef brisket shank drumstick jowl. Porchetta alcatra prosciutto, chicken pork belly pork chuck. Turducken pig rump tenderloin, venison alcatra jowl flank kielbasa ribeye shankle porchetta bresaola fatback. Corned beef ball tip alcatra spare ribs cow kielbasa ham biltong ground round bacon.
    
    </p>
</div>
{% endblock %}