{% extends "base.html.twig" %} {% block content %}

<div class="container-fluid article-panel">
    <div class="row">
        <div class="article-img col-lg-6 col-md-8 col-12 ">
<img class="p-0" src="{{asset(product.image)}}">
        </div>
        <div class="article-description col-lg-4 offset-lg-2 col-md-4 col-12">
            <h2 class="article-title">{{product.name}}</h2>
            <h1 class="article-price">{{product.price}}€</h1>
            <p>{{product.description}}</p>
            <div class="dropdown show">
              </div>
              <form method="post">
                <input class="article-qty" type="number" min="1" name="number">
                <button class="btn add-cart">Ajouter au panier</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}