{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block content %} 
 <div class="container">
<div class="articles">
{{form_start(form)}}
{{form_widget(form)}} 

<button class="btn btn-danger">Ajouter une adresse</button>
{{form_end(form)}}
</div>
</div> 

{% endblock content %}

